*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imageBox {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(19, 53, 123, .4), rgba(19, 53, 123, .4)), url(./images/all-background.jpg);
    background-position: top top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background-position 1s;
}
.imageBox:hover{
    background-position: center;
}
/* contact us section start  */
.servicesBox {
    background-color: #f2f2f2;
}
.contactContainer {
    width: 100%;
    display: flex;
    gap: 2rem;
    color: rgb(96, 96, 96);
}
.leftBox{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoBox {
    margin: 1.5rem;
}
.infoBox i{
    font-size: 3rem;
    padding-bottom: .5rem;
    color: var(--bs-primary);
}
.infoDet {
    line-height: 1rem;
}
.infohead{
    font-size: 1.5rem;
    margin: .5rem;
    color: var(--bs-primary);
}
.rightBox {
    width: 70%;
}
.formHeading{
    color: black;
}
.subject {
    width: 97%;
    height: 4rem;
    padding: 1.45rem;
}
.bookNow, .specialRequestBox{
    width: 97%;
}
/* contact us section end  */

/* faq section start  */
.faqBox {
    background-color: #fff;
}

.qnaContainer {
    width: 100%;
}
.qnaBox {
    padding: 2rem 2rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 1rem;
    height: fit-content;
    cursor: pointer;
    transition: all 1s;
}

.question {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
}

.answer {
    display: none;
}

.active {
    background-color: #cadfff;
    /* color: white; */
    transition: background-color .8s;
}

.active .question i {
    transform: rotate(180deg);
}

.active .answer {
    display: block;
    font-size: 1.1rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}
/* faq section end */